@media only screen and (max-width:1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 25px;
    }
    .row{
        width: 100%;
        padding: 0 25px;
    }
}
@media only screen and (max-width:1023px){
section{
    padding: 60px 0;}
    .long-copy{width: 80%;
        margin-left: 10%;
    }
    body{font-size: 17px;}
    .works-step{
        margin-bottom: 40px;
    }
    .app-screen{
        width: 55%;
    }
    .steps-box:last-child{
        margin-top: 50px;
    }
    .works-step:last-of-type{
        margin-bottom: 60px;
    }
    .app-btn img {
        /* border: hidden; */
        height: 40px;
        margin-right: 10px;
    }
    .steps-box{
        margin-top:20px;
    }
    .feature-city{
        font-size: 80%;
    }
    .icon-small{
        
        width: 20px;
        margin-right: 2px;
    }
    .plan-box{
        font-size: 80%;
        width: 100%;
        margin-left: 0;
    }
    .plans-price{
        font-size: 270%;}
        .contact-form{
            width: 80%;
            margin-left: 10%;
        }
    
}

@media only screen and (max-width:767px){
    .row, .hero-text-box{
        padding: 0 4%;
    }
    .hero-text-box{
        margin-bottom: 5px;
        margin-top: 10p;
    }
    body{
        font-size: 15px;
    }
    section{
        padding: 40px 0;
    }
    .main-nav{display: none;}
    .main-nav{
        float: left;
        margin-top: 20px;
        margin-left: 15px;
    }
    .main-nav li{
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited
   {
    padding: 5px 0;
    font-size: 100%;
    border:0;
    }  

    /* mobile nav */
    .mobile-nav-icon{
        display: inline-block;
    }
    .mobile-nav-icon i{
        font-size: 200%;
        display: inline-block;
        color: #fff;
        margin: 15px 0 10px;
    }
    /* sticky mobile navi */
   .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited
   {
    padding: 7px 0;
    color:#555;
    font-size: 80%; 
   }

.sticky .mobile-nav-icon i{color: #555;
margin-top: 10px;}
/* end of sticky mobile nav */
    /* end of mobile nav */
    h1{
        font-size: 180%;
    }
    h2{
        font-size: 150%;
    }
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    .long-copy{
        width: 95%;
        text-align:center;
        margin-left: 2.5%;
        margin-bottom: 20px;
    }
    .app-screen{width: 40%;}
    .steps-box:first-child{
        text-align: center;
    }
    .works-step div{

        width: 40px;
        height: 40px;
        padding-top: 4px;
        margin-right: 8px;
    }
    .works-step{
        margin-bottom: 30px;
    }
    .works-step:last-of-type{
        margin-bottom: 30px;
    }
    .box img{
        width: 80%;
        margin-left: 10%;
        text-align: center;
        box-shadow: none;
    }
    .city-head{
        font-size: 110%;
        text-align: center;
    }
    .feature-city{
        text-align: center;
        font-size: 130%;
    }
    blockquote::before{
        top: 5px;
        left: 5px;
    }
}
@media only screen and (max-width:480px){
    section{
        padding: 23px 0;
    }
    .contact-form{width:95%;
    margin-left: 2.5%;}
}